.card-container__body {
  box-shadow: 0 4px 8px 0;
  transition: 0.3s;
  width: 20%;
  padding: 30px;
  margin-top: 200px;
}

.card-container__name {
  margin-bottom: 40px !important;
}

.card-container__body:hover {
  box-shadow: 0 8px 16px 0;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
