.table-head-container th {
  font-size: 1.2rem !important;
  font-weight: bold;
}

.country-name-link {
  text-decoration: none;
}

.country-name-link:hover {
  color: rgb(5, 156, 144);
}

.row-container__img {
  width: 8rem;
  height: 5rem;
}

.table-container {
  margin-bottom: 850px;
}
