.table-head-container {
  background-color: #2196f3 !important;
}

.table-head-container th {
  font-size: 1.2rem !important;
  font-weight: bold;
  color: whitesmoke;
}

.country-name-link {
  color: #2196f3;
  text-decoration: none;
}

.country-name-link:hover {
  color: rgb(228, 59, 8);
  font-size: 1rem !important;
}

.row-container {
  background-color: whitesmoke;
}

.row-container__img {
  width: 8rem;
  height: 5rem;
}
