.table-head-container th {
  font-size: 1.2rem !important;
  font-weight: bold;
}

.country-name-link {
  text-decoration: none;
  color: #8d8d8d;
}

.country-name-link:hover {
  color: rgb(255, 115, 0);
  font-weight: bold;
}

.row-container__img {
  width: 8rem;
  height: 5rem;
}

.table-head-container__header {
  font-family: 'Shizuru', cursive!important;
}
